.primary-100 {
  background-color: #E9F7F6;
}

.primary-200 {
  background-color: #C0E0DF;
}

.primary-300 {
  background-color: #66BAB7;
}

.primary-400 {
  background-color: #198783;
}


.banner {
  width: 100%;
  height: 800px;
}

.banner .container .pic {
  max-width: 648px;
  height: 600px;
}

.banner .container .sologan {
  max-width: 648px;
  height: 480px;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 80px 50px;
}

.sologan-content {
  position: relative;
  width: 520px;
  height: 320px;
  margin: auto;
}

.sologan-content span {
  position: absolute;
  top: 0;
  right: 0rem;
}

.sologan-content::before {
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #C0E0DF;
  padding-top: 80px;
}

.sologan-content::after {
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #C0E0DF;
  padding-top: 120px;
}

.sologan-content h2 {
  font-family: 'Noto Sans TC';
  font-weight: 900;
  font-size: 31px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #363636;
}

.sologan-content h1 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.08em;
  color: #363636;
}

.bookingBtn {
  width: 166px;
  height: 61px;
  background: #66BAB7;
  position: absolute;
  bottom: -.2rem;
  right: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.08em;
}



@media (max-width: 1440px) {

  .banner .container .pic {
    max-width: calc(648px * 0.75);
    height: calc(600px * 0.75);
  }

  .banner .container .sologan {
    max-width: calc(648px * 0.75);
    height: calc(480px * 0.75);
    padding-top: calc(80px * 0.75);
  }

  .sologan-content {
    width: calc(520px * 0.75);
    /* 75% of 520px */
    height: calc(320px * 0.75);
    /* 75% of 320px */
  }

  .sologan-content::before {
    padding-top: calc(80px * 0.75);
  }

  .sologan-content::after {
    padding-top: calc(120px * 0.75);
  }

  .sologan-content span {
    position: absolute;
    top: -1.2rem;
    right: 0rem;
  }

  .sologan-content h2 {
    width: calc(378 * 0.75);
    font-size: calc(30px * 0.75);
    line-height: calc(38px * 0.75);

  }

  .sologan-content h1 {
    font-size: calc(40px * 0.75);
    line-height: calc(48px * 0.75);
  }

  .bookingBtn {
    width: calc(166px * 0.75);
    height: calc(61px * 0.75);
    background: #66BAB7;
    position: absolute;
    bottom: (-.2rem * 0.75);
    right: 0;

    font-size: calc(24px * 0.75);
    line-height: calc(29px * 0.75);
  }
}